@font-face {
  font-family: "Vollkorn";
  src: url("../../shared/ui/assets/fonts/Vollkorn-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../../shared/ui/assets/fonts/Vollkorn-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../../shared/ui/assets/fonts/Vollkorn-Italic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../../shared/ui/assets/fonts/Vollkorn-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Monitorca";
  src: url("../../shared/ui/assets/fonts/Monitorca.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
