html {
  overflow: hidden;
}

.ant-btn {
  box-shadow: none !important;
}

.ant-select-dropdown {
  background-color: var(--colorBgBase) !important;
}

.ant-select-item-option-active {
  background-color: var(--colorPrimary) !important;
}