:root {
  --colorPrimary: #6d93b0;
  --colorBgBase: #2c3e50;
  --colorBgContainer: #34495e;
  --colorTextBase: #ecf0f1;
  --colorTextSecondary: #bdc3c7;
  --colorBorder: #84bec2;

  --colorSuccess: #27ae60;
  --colorWarning: #e67e22;
  --colorError: #c0392b;
  --colorInfo: #2980b9;
}
