/* CustomButton.module.css */
.customButton {
  background-color: var(--colorBgContainer);
  color: var(--colorTextBase);
  border: 1px solid var(--colorBorder);
  border-radius: var(--borderRadius);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  box-shadow: var(--shadowLight);
  transition: var(--transition);
}

.customButton:hover {
  background-color: var(--colorPrimary);
  color: var(--colorTextBase);
  box-shadow: var(--shadowMedium);
}

.customButton:active {
  box-shadow: var(--shadowHeavy);
}
