.card {
  width: 240px;
  height: 150px;
}

.info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  max-height: 48px;
  margin: 0;
}

.timestamp {
  margin: 0;
}
