.unavailable-card {
  width: 100%;
  max-width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px;
}

.icon {
  font-size: 68px;
  color: var(--colorError);
}

.responsible-list {
  list-style-type: none;
  padding: 0;
}

.responsible-list li {
  font-size: var(--fontSize);
  margin: 8px 0;
}
