.modal {
  background-color: var(--colorBgContainer);
  color: var(--colorTextBase);
  padding: var(--spacingSmall);
}

.modal-title {
  text-align: center;
  font-size: var(--fontSize);
  color: var(--colorTextBase);
  background-color: var(--colorBgContainer);
}

p {
  margin-bottom: var(--spacingSmall);
}

.modal-body p {
  font-size: var(--fontSize);
  color: var(--colorTextBase);
}
