.card-title {
  color: var(--colorTextBase);
  font-size: var(--fontSize);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.card {
  height: 140px;
  width: 250px;
  cursor: pointer;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  border: 2px solid var(--colorBorder);
}

.card:hover {
  border-color: var(--colorPrimary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    border-color: var(--colorPrimary);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: var(--colorPrimary);
  }
}
