.stream-item-list {
  max-height: 400px;
  overflow-y: auto;
  min-height: 150px;
  list-style-type: none;
  padding: 0;
  position: absolute;
  left: 20px;
  transform: translateY(-60px);
  width: calc(100% - 40px);
  z-index: 1;
  background: var(--colorBgContainer);
  border: 2px solid var(--colorBorder);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background: var(--colorBgContainer);
  flex-direction: column;
  justify-content: center;
}
